#nav-list {
  margin-top: 10px;
}
#nav-list a {
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  text-align: center;
}
section > div {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  font-family: Helvetica;
  border: 1px;
  margin-bottom: 15px;

}
p.title {
  font-weight: bold;
  text-align: center;
  margin: auto;
}

section {
  padding-left: 10px;
  padding-right: 10px;
}
p.desc{
  height: 200px;
  overflow: auto;
  margin: 10px;
}